* {
    margin: auto;
    overflow: hidden;
}


#background {
    width: 100%;
    height: 100%;
    position: fixed;
}

#canvas {
    position: absolute;
    top: 5%;
    width: 48%;
    left: 32%;
}

#finish {
    position: absolute;
    top: 76%;
    left: 48%;
    width: 5%;
}
#ferrari{
    position: absolute;
    top: 50%;
    left: 2%;
    width: 28%;
}
#lambo{
    position: absolute;
    height: 36%;
    top:45%;
    left:68%;
}
