* {
    margin: auto;
    overflow: hidden;
}


h1, h2{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
}

#canvas {
    position: absolute;
    top: 12%;
    width: 48%;
    left: 32%;
}

#ferrari{
    position: absolute;
    top: 50%;
    left: 2%;
    width: 29%;
}
#lambo{
    position: absolute;
    height: 36%;
    top:45%;
    left:68%;
}
